/*Process Steps*/.PSWE-process-steps-widget,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper {
    position: relative;
}

.PSWE-process-steps-widget .PSWE-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.PSWE-process-steps-widget .PSWE-process-steps-wrapper {
    min-height: 150px;
}

.PSWE-process-steps-wrapper,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE-icon-img,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE-dc:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-icon-img .PSWE-text,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-icon-img .PSWE_icon-img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.PSWE-process-steps-widget .PSWE-step-title {
    font-size: 20px;
    color: #000;
    position: relative;
    display: inline-block;
    margin: 0;
}

.PSWE-process-steps-widget .PSWE-step-desc,
.PSWE-process-steps-widget.style_1 .PSWE-step-desc p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.70);
    position: relative;
    display: inline-block;
    margin: 0;
    margin-top: 15px;
    
   
}
.PSWE-process-steps-wrapper .PSWE-content p {
    margin-bottom: 0px;
}
.PSWE-process-steps-widget .PSWE-right-content a {
    outline: none
}

.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE-icon-img {
    position: relative;
    display: flex;
    width: 90px;
    height: 90px;
    border: 1px solid #c1b4b4;
    border-radius: 50%;
    background: #e6dcdc;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE-icon-img {
    color: #000000b0;
    font-size: 25px;
}

.PSWE-process-steps-wrapper .PSWE-left-imt .PSWE-step-icon-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.PSWE-process-steps-wrapper .PSWE-icon-img .PSWE-text {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    line-height: initial;
    word-break: keep-all;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

.PSWE-step-icon-img .PSWE_icon-img,
.PSWE-special-bg i,
.PSWE-special-bg .PSWE-text {
    position: relative;
    z-index: 111;
}

.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-step-icon-img {
    overflow: hidden;
}


/*counter start*/

.PSWE-process-steps-widget .PSWE-left-imt .PSWE_post_desc {
    position: absolute;
    left: calc(50% - 15px);
    top: 0;
    margin-left: -30px;
    z-index: 112;
}

.PSWE-process-steps-widget {
    counter-reset: my-sec-counter
}

.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE_post_desc.number_normal:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE_post_desc.lower_roman:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE_post_desc.decimal_leading_zero:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE_post_desc.upper_alpha:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE_post_desc.lower_alpha:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE_post_desc.upper_roman:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE_post_desc.lower_greek:after {
    counter-increment: my-sec-counter;
    color: #000;
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    background: #e9e4e4;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
}

.PSWE-process-steps-widget .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE_post_desc.number_normal:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE_post_desc.lower_roman:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE_post_desc.decimal_leading_zero:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE_post_desc.upper_alpha:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE_post_desc.lower_alpha:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE_post_desc.upper_roman:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE_post_desc.lower_greek:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE_post_desc.number_normal:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE_post_desc.lower_roman:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE_post_desc.decimal_leading_zero:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE_post_desc.upper_alpha:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE_post_desc.lower_alpha:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE_post_desc.upper_roman:after,
.PSWE-process-steps-widget .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE_post_desc.lower_greek:after{
    color: #fff;
    background: #000;
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE_post_desc.number_normal:after {
    content: counter(my-sec-counter);
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE_post_desc.lower_roman:after {
    content: counter(my-sec-counter, lower-roman) ". ";
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE_post_desc.decimal_leading_zero:after {
    content: counter(my-sec-counter, decimal-leading-zero) ". ";
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE_post_desc.upper_alpha:after {
    content: counter(my-sec-counter, upper-alpha) ". ";
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE_post_desc.lower_alpha:after {
    content: counter(my-sec-counter, lower-alpha) ". ";
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE_post_desc.upper_roman:after {
    content: counter(my-sec-counter, upper-roman) ". ";
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE_post_desc.lower_greek:after {
    content: counter(my-sec-counter, lower-greek) ". ";
}

.PSWE-process-steps-wrapper .PSWE_post_desc.dc_custom_text .ds_custom_text_label {
    display: flex;
    background: #0000008f;
    padding: 3px 5px;
    font-size: 14px;
    border-radius: 50px;
    color: #fff;
}

.PSWE-process-steps-wrapper:hover .PSWE_post_desc.dc_custom_text .ds_custom_text_label,
.PSWE-process-steps-wrapper.active .PSWE_post_desc.dc_custom_text .ds_custom_text_label {
    background: #000;
}


/*counter end*/


/*special background start*/

.PSWE-process-steps-widget .PSWE-left-imt .PSWE-special-bg:before,
.PSWE-process-steps-widget .PSWE-left-imt .PSWE-special-bg:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: inherit;
    z-index: 22;
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE-special-bg:after {
    width: 110px;
    height: 110px;
    opacity: .7;
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE-special-bg:before {
    width: 130px;
    height: 130px;
    opacity: .3;
}

.PSWE-process-steps-widget .PSWE-left-imt.PSWE-special-bg {
    margin-bottom: 20px;
}

.PSWE-process-steps-widget .PSWE-left-imt .PSWE-special-bg .PSWE-icon-img {
    border: none !important;
}


/*special background end*/


/*style 1*/

.PSWE-process-steps-widget.style_1 .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE-icon-img {
    border: 1px solid #c1b4b4;
}

.PSWE-process-steps-widget.style_1 .PSWE-process-steps-wrapper .PSWE-left-imt {
    position: relative;
    display: block;
    float: left;
    text-align: center;
    margin-right: 50px;
}

.PSWE-process-steps-widget.style_1 .PSWE-process-steps-wrapper .PSWE-right-content {
    position: relative;
    display: block;
    width: calc(100% - 150px);
    float: left;
}

.PSWE-process-steps-widget.style_1 .PSWE-process-steps-wrapper .PSWE-left-imt:after {
    content: '';
    display: inline-block;
    height: 100%;
    position: absolute;
    border: 1px solid #c1b4b4;
    left: 45px;
}

.PSWE-process-steps-widget.style_1 .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE-icon-img,
.PSWE-process-steps-widget.style_1 .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE-icon-img{
    background: #aba2a2;
}

.PSWE-process-steps-widget.style_1 .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE-icon-img,
.PSWE-process-steps-widget.style_1 .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE-icon-img{
    color: #fff;
}

.PSWE-process-steps-widget.style_1 .PSWE-process-steps-wrapper:last-child .PSWE-left-imt:after {
    display: none;
}


/*style 1*/


/*style 2 start*/

.PSWE-process-steps-widget.style_2 {
    position: relative;
    display: flex !important;
    width: 100%;
	margin: 0 auto;
    
    justify-content: center;
}

.PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    padding: 0 10px;
    margin-top: 20px;
    width: 100%;
    height:auto;
}

.PSWE-process-steps-widget.style_2 .PSWE-right-content {
    text-align: center;
}

.PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE-icon-img {
    margin: 0 auto;
}

.PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE-icon-img,
.PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE-icon-img{
    color: #000;
}

.PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper:hover .PSWE-left-imt .PSWE-icon-img,
.PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper.active .PSWE-left-imt .PSWE-icon-img{
    background: #aba2a2;
}

.PSWE-process-steps-widget.style_2 .PSWE-step-title {
    margin-top: 15px;
}

.PSWE-process-steps-widget.style_2 .PSWE-step-title {
    margin-top: 15px;
}

.PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper:last-child .PSWE-left-imt:before {
    display: none;
}

.PSWE-process-steps-widget.style_2 .PSWE-left-imt:before {
    content: '';
    display: inline-block;
    width: 100%;
    position: absolute;
    border: 0.5px solid #e9e9e9;
    right: calc(-50% - 10px);
}

.PSWE-process-steps-widget.style_2 .PSWE-left-imt {
    position: relative;
    display: inline-flex;
    width: auto;
    align-items: center;
}


/*style 2 end*/

.PSWE-process-steps-widget.style_1.tp_ps_sep_img .PSWE-process-steps-wrapper .PSWE-left-imt:after,
.PSWE-process-steps-widget.style_2.tp_ps_sep_img .PSWE-process-steps-wrapper .PSWE-left-imt:before {
    display: none;
}

.PSWE-process-steps-widget.tp_ps_sep_img .PSWE-process-steps-wrapper .PSWE_separator_custom_img {
    position: absolute;
    max-width: 100%;
    display: flex;
    right: 0;
}

.PSWE-process-steps-widget.tp_ps_sep_img .PSWE-process-steps-wrapper:last-child .PSWE_separator_custom_img,
.PSWE-process-steps-widget.style_1.tp_ps_sep_img .PSWE-process-steps-wrapper:last-child .PSWE_separator_custom_img {
    display: none;
}

.PSWE-process-steps-widget.style_2.tp_ps_sep_img  .PSWE-custom-img-inner {
   width: auto;
    height: 50px;
}
.PSWE-process-steps-widget.style_1.tp_ps_sep_img .PSWE-custom-img-inner {
    width: auto;
    height: auto;
}

.PSWE-process-steps-widget.style_1.tp_ps_sep_img .PSWE-process-steps-wrapper .PSWE_separator_custom_img {
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    bottom: calc(-50%);
}

@media (max-width:767px) {
	.PSWE-process-steps-widget.style_2 {
		position: relative;
		display: block !important;
		float: left;
		width: 100%;
	}	
    .PSWE-process-steps-widget.style_2 .PSWE-left-imt:before,
    .PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper:last-child .PSWE-left-imt:after {
        display: none;
    }
    .PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper .PSWE-left-imt:after {
        content: '';
        display: inline-block;
        height: 100%;
        position: absolute;
        border: 1px solid #c1b4b4;
        left: 45px;
    }
    .PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper .PSWE-left-imt {
        position: relative;
        display: inline-block;
        float: left;
        text-align: center;
        margin-right: 50px;
    }
    .PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper .PSWE-right-content {
        position: relative;
        display: block;
        width: calc(100% - 150px);
        float: left;
    }
    .PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper .PSWE-left-imt .PSWE-icon-img {
        margin: unset;
    }
    .PSWE-process-steps-widget.style_2 .PSWE-right-content {
        text-align: left;
    }
    .PSWE-process-steps-widget.style_2 .PSWE-process-steps-wrapper {
        flex-direction: unset;
    }
    .PSWE-process-steps-widget .PSWE-step-title {
        font-size: 16px;
    }
    .PSWE-process-steps-widget .PSWE-step-desc,
    .PSWE-process-steps-widget.style_1 .PSWE-step-desc p {
        font-size: 15px;
        
    }
    .PSWE-process-steps-widget.style_2.tp_ps_sep_img .PSWE-process-steps-wrapper .PSWE-left-imt:after,
    .PSWE-process-steps-widget.style_2.tp_ps_sep_img .PSWE-process-steps-wrapper .PSWE_separator_custom_img {
        display: none;
    }
	/*mobile*/
	.PSWE-process-steps-widget.style_2.mobile .PSWE-process-steps-wrapper {
    display: flex;
    flex-direction: column;
	}
	.PSWE-process-steps-widget.style_2.mobile .PSWE-process-steps-wrapper .PSWE-left-imt:after {
		display: none;
	}
	.PSWE-process-steps-widget.style_2.mobile .PSWE-process-steps-wrapper .PSWE-left-imt {
		width: 100%;
		float: none;
		display: flex;
		margin-right: unset;
		justify-content: center;
	}
	.PSWE-process-steps-widget.style_2.mobile.flex-start .PSWE-process-steps-wrapper .PSWE-left-imt {justify-content: flex-start;}
	.PSWE-process-steps-widget.style_2.mobile.flex-end .PSWE-process-steps-wrapper .PSWE-left-imt {justify-content: flex-end;}
	.PSWE-process-steps-widget.style_2.mobile .PSWE-process-steps-wrapper .PSWE-right-content {
		width: 100%;
		float: none;
		display: flex;
		text-align: center;
	}
	.PSWE-process-steps-widget.style_2.mobile.left .PSWE-process-steps-wrapper .PSWE-right-content {text-align: left;}
	.PSWE-process-steps-widget.style_2.mobile.right .PSWE-process-steps-wrapper .PSWE-right-content {text-align: right;}
	.PSWE-process-steps-widget.style_2.mobile.justify .PSWE-process-steps-wrapper .PSWE-right-content {text-align: justify;}

	/*mobile*/
}